@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #000428;
    --background: 249 100% 98.16%;
    --foreground: 249 10% 0.32%;

    --muted: 249 10% 90.8%;
    --muted-foreground: 249 5% 40.8%;

    --popover: 249 10% 90.8%;
    --popover-foreground: 249 10% 0.4%;

    --card: 249 10% 90.8%;
    --card-foreground: 249 10% 0.4%;

    --border: 249 15% 89.32%;
    --input: 249 15% 89.32%;

    --primary: 249 100% 8%;
    --primary-foreground: 249 2% 90.8%;

    --secondary: 249 5% 95.4%;
    --secondary-foreground: 249 7% 10.8%;

    --accent: 249 5% 95.4%;
    --accent-foreground: 249 7% 10.8%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 249 100% 8%;

    --radius: 0.5rem;
  }
}

@layer utilities {
  .BGProd {
    position: relative;
    background-image: url("../../public/Medicine\ BG.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .BGProd::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgb(100, 99, 109, 0.7); */
    background-color: rgb(230, 229, 234, 0.5);
    z-index: 1;
  }

  .TextGradient {
    background: linear-gradient(20deg, rgb(152, 151, 157), rgb(6, 0, 41));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .BGMedi1 {
    position: relative;
    background-image: url("../../public/Medi2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .BGMedi1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgb(100, 99, 109, 0.7); */
    background-color: rgb(100, 99, 109, 0.6);
    z-index: 1;
  }

  .BGMedi2 {
    position: relative;
    background-image: url("../../public/Medi4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .BGMedi2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgb(100, 99, 109, 0.7); */
    background-color: rgb(100, 99, 109, 0.6);
    z-index: 1;
  }
}
